*{
    padding: 0;
     margin: 0;  
}

html,body{
    height: 100%;
}

body{
    background-image: linear-gradient(to right, #FF6984,#EE82EE);

    // background-image: linear-gradient(to right,color(bgcolor),color(bgcolor2));

}